@import
	url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import
	url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap')
	;

.navbar {
	width: 100%;
	background-color: black;
	overflow: auto;
}

.logo {
	color: white;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	font-size: 35px;
	font-family: 'Zilla Slab', serif;
}
.active {
	background-color: none;
}

.logo {
	color: white;
	float: left;
	font-size: 50px;
	font-family: 'Zilla Slab', serif;
}
.area{
fort-size: 10px;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
}

body {
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%,
		rgba(96, 44, 213, 0.5396533613445378) 0%,
		rgba(0, 166, 255, 0.24833683473389356) 100%);
}
.testo {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 30px;
}
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper .container {
	width: 200px;
}

.wrapper .btn {
	width: 50px;
	height: 50px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 auto 16px;
	cursor: pointer;
	position: relative;
}

.wrapper .btn > div {
	position: absolute;
	top: 45%;
	left: 25%;
	width: 50%;
	height: 3px;
	background: #fff;
	border-rafius: 50px;
	transition: all 0.3s linear;
}

.wrapper .btn .one {
	top: 25%;
}

.wrapper .btn .three {
	top: 65%;
}

.wrapper .container .menu {
	width: 180px;
	height: auto;
	margin: 0 auto;
	background: #fff;
	margin: 0 auto;
	position: relative;
	opacity: 0;
	top: -10px;
	transition: all 0.5s linear;
	
}

.wrapper .container .menu ul li {
	text-align: center;
	text-transform: uppercase;
	transition: all 0.2s linear;
}

.wrapper .container .menu ul li a {
	padding: 10px;
	display: block;
	font-size: 12px;
	color: black;
	transition: all 0.2s linear;
}

.wrapper .container .menu ul li:hover {
	background: #80ddd2;
}

.wrapper .container .menu ul li:hover a {
	color: #fff;
}

.wrapper .container .menu:before {
	content: "";
	position: absolute;
	top:-19px;
	left: 50%;
	transform: translateX(-50%);
	border-top: 10px solid transparent;	
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

.wrapper .btn.active {
	trasform: rotate(90deg);
}

.wrapper .btn.active .one {
	transform: rotate(45deg);
	top: 45%;
	left: 25%;
}

.wrapper .btn.active .two {
	opacity: 0;
}

.wrapper .btn.active .three {
	top: 45%;
	left: 25%;
	transform: rotate(-45deg);
}

.wrapper .container .menu.active {
	opacity: 1;
	top: 0px;
}
